body {

   
	/*Specifies the font family for text*/
	font-family: 'Montserrat', Monospace;

   
	/*Sets all the margin properties in one declaration*/
	margin: 0;

   
	/*A shorthand property for all the padding-* properties*/
	padding: 0;

    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
   
	/*Specifies how many seconds or milliseconds a transition effect takes to complete*/
	transition-duration: 2s;

}


canvas {

   
	/*Specifies how a certain HTML element should be displayed*/
	display: block;
   
	/*Sets the vertical alignment of an element*/
	vertical-align: bottom;
   
	/*Sets the width of an element*/
	width: 100%;
   
	/*Sets the height of an element*/
	height: 100%;
}


#hover {

   
	/*Sets the left margin of an element*/
	margin-left: auto;
   
	/*Sets the right margin of an element*/
	margin-right: auto;
   
	/*Specifies the type of positioning method used for an element (static, relative, absolute or fixed)*/
	position: absolute;
}


.heading {

   
	/*A shorthand property for all the padding-* properties*/
	padding: 20px;
}


.heading img {

	
   
	/*A shorthand property for all the padding-* properties*/
	padding: 30px;
   
	/*Specifies the type of positioning method used for an element (static, relative, absolute or fixed)*/
	position: block;
   
	/*Sets the left margin of an element*/
	margin-left: auto;
   
	/*Sets the right margin of an element*/
	margin-right: auto;
}
