@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700');

.navbar{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    vertical-align: middle;
    
}

.navbar p{
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 10px;
    
}

.navbar strong{
    font-weight: 700;
    color: #BAE0FF;
}

.bg-blue-custom{
    background-color: #457ABB;
}

#container{
    width: 93%;
    margin: 0 auto;
    margin-top: 50px;
}

.textarea{
    min-height: 300px;
    outline: 1px solid grey;
    display: inline-block;
    padding: 15px;
    margin-top: 0px;
}

#output{
    float: right;
    margin-top: 0px;
    width: 48%;
}

#input{
    float: left;
    width: 48%;
    margin-right: 4%;
}

#text-container{
    display: block;
    margin-bottom: 15px;
}

button{
    display: block;
}