@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700');


#container{
    width: 93%;
    margin: 0 auto;
    margin-top: 50px;
}

.textarea{
    display: inline-block;
    padding: 15px;
}

#output{
    cursor: default;
}



textarea:disabled{
    background-color: #F5F5F5 !important;
}